[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyhelm3 = {git = "https://github.com/stackhpc/pyhelm3.git"}
grpcio = "*"
grpcio-tools = "*"
grpcio-reflection = "*"
kubernetes = "*"
pyfiglet = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
