[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==1.10.4"
pyhelm3 = {git = "https://github.com/stackhpc/pyhelm3.git"}
grpcio = "*"
grpcio-tools = "*"
grpcio-reflection = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
